
.navegacao a.verde { background-color: #4caf50; }
.navegacao a.vermelho { background-color: #F44336;}

.conteudo{
    font-size: 1.5rem;
    
}

.conteudo > .titulo {
    font-size: 2.5rem;
    font-weight: 300;
    padding: 10px;
    border-bottom: 1px solid #999;
    margin-bottom: 20px;
}